*
    box-sizing: border-box

body
    +light
    color: $text-color
a 
    text-decoration: none

.button-o
    text-transform: uppercase
    font-size: 12px
    border: 2px solid $blue-color
    background: transparent
    color: $blue-color
    padding: 15px 22px
    +bold

.button
    display: block
    text-transform: uppercase
    font-size: 12px
    background: $blue-color
    color: #ffffff
    border: none
    padding: 25px 45px
    +bold

.container
    max-width: 1170px
    margin: 0 auto